<!-- <h1>StaticPages#About</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
 -->



<% provide(:title, 'About Us') %>
<!DOCTYPE html>

    <p>Hello, world!</p>

    <h1>Sample App</h1>
	 <h1>Sample App</h1>
<p>
  This is the home page for the About Us
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

