<!-- <h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
 -->


<% provide(:title, 'Help') %>
<!DOCTYPE html>

    <p>Hello, world!</p>

    <h1>Sample App</h1>
	<p>
	  This is the home page for the Help
	  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	  sample application.
	</p>

 