<% provide(:title, 'Sign Up') %>
<!DOCTYPE html>

    <p>Welcome Sign Up</p>

    <h1>Sample App</h1>
	
<p>
  This is the home page for the About Us
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

